# Understanding Pandas Series and DataFrames - Lab

## Introduction

In this lab, let's get some hands-on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

- Use the `.map()` and `.apply()` methods to apply a function to a pandas Series or DataFrame 
- Perform operations to change the structure of pandas DataFrames 
- Change the index of a pandas DataFrame 
- Change data types of columns in pandas DataFrames 

## Let's get started 

Import the file `'turnstile_180901.txt'`.

In [119]:
# Import the required libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [120]:
# Import the file 'turnstile_180901.txt'
df = pd.read_csv('turnstile_180901.txt')

# Print the number of rows ans columns in df
print(df.shape)

# Print the first five rows of df
df.head()

(197625, 11)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

Rename all the columns to lower case:

In [121]:
# We can check and see what the columns look like with this code:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [122]:
type('turnstile_180901.txt')

str

In [123]:
# Rename all the columns to lower case
df.columns = df.columns.str.lower()

In [124]:
# Now let's check and make sure that worked
df.columns

Index(['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries',
       'exits                                                               '],
      dtype='object')

Change the index to `'linename'`:

In [125]:
# Change the index to 'linename'
df = pd.read_csv('turnstile_180901.txt')
df.set_index('LINENAME', inplace=True)
print(df)

            C/A  UNIT       SCP        STATION DIVISION        DATE      TIME  \
LINENAME
NQR456W    A002  R051  02-00-00          59 ST      BMT  08/25/2018  00:00:00
NQR456W    A002  R051  02-00-00          59 ST      BMT  08/25/2018  04:00:00
NQR456W    A002  R051  02-00-00          59 ST      BMT  08/25/2018  08:00:00
NQR456W    A002  R051  02-00-00          59 ST      BMT  08/25/2018  12:00:00
NQR456W    A002  R051  02-00-00          59 ST      BMT  08/25/2018  16:00:00
...         ...   ...       ...            ...      ...         ...       ...
R         TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018  05:00:00
R         TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018  09:00:00
R         TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018  13:00:00
R         TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018  17:00:00
R         TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018  21:00:00

             DESC  ENTRIES  \
LINENAME
NQR456W   REGULAR  6736067
NQR456W   REGULAR  6736087
NQR456W   REGULAR  6736105
NQR456W   REGULAR  6736180
NQR456W   REGULAR  6736349
...           ...      ...
R         REGULAR     5554
R         REGULAR     5554
R         REGULAR     5554
R         REGULAR     5554
R         REGULAR     5554

          EXITS
LINENAME
NQR456W                                             2283184
NQR456W                                             2283188
NQR456W                                             2283229
NQR456W                                             2283314
NQR456W                                             2283384
...                                                     ...
R                                                       348
R                                                       348
R                                                       348
R                                                       348
R                                                       348

[197625 rows x 10 columns]

Reset the index:

In [126]:
# Reset the index
df.reset_index(inplace=True)
print(df)

       LINENAME    C/A  UNIT       SCP        STATION DIVISION        DATE  \
0       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/25/2018
1       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/25/2018
2       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/25/2018
3       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/25/2018
4       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/25/2018
...         ...    ...   ...       ...            ...      ...         ...
197620        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018
197621        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018
197622        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018
197623        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018
197624        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018

            TIME     DESC  ENTRIES  \
0       00:00:00  REGULAR  6736067
1       04:00:00  REGULAR  6736087
2       08:00:00  REGULAR  6736105
3       12:00:00  REGULAR  6736180
4       16:00:00  REGULAR  6736349
...          ...      ...      ...
197620  05:00:00  REGULAR     5554
197621  09:00:00  REGULAR     5554
197622  13:00:00  REGULAR     5554
197623  17:00:00  REGULAR     5554
197624  21:00:00  REGULAR     5554

        EXITS
0                                                 2283184
1                                                 2283188
2                                                 2283229
3                                                 2283314
4                                                 2283384
...                                                   ...
197620                                                348
197621                                                348
197622                                                348
197623                                                348
197624                                                348

[197625 rows x 11 columns]

Create another column `'Num_Lines'` that is a count of how many lines pass through a station. Then sort your DataFrame by this column in descending order. 

*Hint: According to the [data dictionary](http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt), LINENAME represents all train lines that can be boarded at a given station. Normally lines are represented by one character. For example, LINENAME 456NQR represents trains 4, 5, 6, N, Q, and R.*

In [127]:
# Add a new 'num_lines' column
df['Num_Lines'] = df['LINENAME'].apply
df

,LINENAME,C/A,UNIT,SCP,STATION,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Num_Lines
0,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,<bound method Series.apply of 0 NQR456...
1,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,<bound method Series.apply of 0 NQR456...
2,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,<bound method Series.apply of 0 NQR456...
3,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,<bound method Series.apply of 0 NQR456...
4,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,<bound method Series.apply of 0 NQR456...
...,...,...,...,...,...,...,...,...,...,...,...,...
197620,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,05:00:00,REGULAR,5554,348,<bound method Series.apply of 0 NQR456...
197621,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,09:00:00,REGULAR,5554,348,<bound method Series.apply of 0 NQR456...
197622,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,13:00:00,REGULAR,5554,348,<bound method Series.apply of 0 NQR456...
197623,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,17:00:00,REGULAR,5554,348,<bound method Series.apply of 0 NQR456...
197624,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,21:00:00,REGULAR,5554,348,<bound method Series.apply of 0 NQR456...

Write a function to clean column names:

In [128]:
# Before we start cleaning, let's look at what we've got

df.columns

Index(['LINENAME', 'C/A', 'UNIT', 'SCP', 'STATION', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               ',
       'Num_Lines'],
      dtype='object')

In [129]:
def clean(col_name):
    # Clean the column name in any way you want to. Hint: think back to str methods 
    cleaned = df.columns.str.strip().str.replace(' ', '_').str.lower()
    return cleaned

In [130]:
# Use the above function to clean the column names
df = clean(df)
df

Index(['linename', 'c/a', 'unit', 'scp', 'station', 'division', 'date', 'time',
       'desc', 'entries', 'exits', 'num_lines'],
      dtype='object')

In [ ]:
# Check to ensure the column names were cleaned
df.columns

- Change the data type of the `'date'` column to a date 
- Add a new column `'day_of_week'` that represents the day of the week

In [ ]:
# Convert the data type of the 'date' column to a date


# Add a new column 'day_of_week' that represents the day of the week

In [ ]:
# Group the data by day of week and plot the sum of the numeric columns
grouped = df.groupby('day_of_week').sum(numeric_only = True)
grouped.plot(kind='barh')
plt.show()

- Remove the index of `grouped` 
- Print the first five rows of `grouped`

In [ ]:
# Reset the index of grouped
grouped = None

# Print the first five rows of grouped

Add a new column `'is_weekend'` that maps the `'day_of_week'` column using the dictionary `weekend_map`

In [ ]:
# Use this dictionary to create a new column 
weekend_map = {0:False, 1:False, 2:False, 3:False, 4:False, 5:True, 6:True}

# Add a new column 'is_weekend' that maps the 'day_of_week' column using weekend_map
grouped['is_weekend'] = grouped['day_of_week'].map(weekend_map)

In [ ]:
# Group the data by weekend/weekday and plot the sum of the numeric columns
wkend = grouped.groupby('is_weekend').sum(numeric_only = True)
wkend[['entries', 'exits']].plot(kind='barh')
plt.show()

Remove the `'c/a'` and `'scp'` columns.

In [ ]:
# Remove the 'c/a' and 'scp' columns
df = None
df.head(2)

## Analysis Question 

What is misleading about the day of week and weekend/weekday charts you just plotted?

In [ ]:
# Your answer here

## Summary

You practiced your data cleanup skills using Pandas.